SPRING_DATASOURCE_URL=jdbc:postgresql://postgresql-ha-pgpool:5432/products?useUnicode=true&characterEncoding=UTF-8&serverTimezone=CET
SPRING_DATASOURCE_USERNAME=products
SPRING_DATASOURCE_PASSWORD=write-your-database-password
GEMINI_API_KEY=write-your-gemini-api-key
password=write-your-app-database-password
postgres-password=write-your-postgres-admin-password
repmgr-password=write-your-repmgr-password
admin-password=write-your-pgpool-admin-password
sr-check-password=write-your-pgpool-sr-check-password
